$colors: (
    navigation__background--col: #ffffff,
    logo__text--col: #335576,
    page--active: #DB7A4E,
    page__background--col: #FEFAF5,
    footer__background--col: #FEFAF5,
    footer__tile--col: #335576,
    footer__text--col: #DB7A4E,
    hero__background--col: #FEFAF5,
    slogan__text--col: #335576,
    button1--col: #DB7A4E,
    reccomendations__title--col: #335576,
    activities__background--col: #FEFAF5
);

/* Navigation */ 

.menu_wrapper { 
    background-color: map-get($colors, navigation__background--col);
    display:flex;
    flex-direction: row;
    margin-right: 0%;
}

.navigation__link__container {
    flex-direction: row;
    padding-right: 2%;
}

.logo__container {
    margin-right: 55%;
    margin-left: 5%;
}

a {
    color: black;
}

a.hover {
    background-color: red;
}
a.active {
    text-decoration: underline !important;
    color: map-get($colors, page--active);
    text-decoration-thickness: .20rem !important; /* 3.2px */
    text-underline-offset: 1rem;
    
}

/* Navigation */

body {
    font-family: 'Verdana';
}