$colors: (
    navigation__background--col: #ffffff,
    logo__text--col: #335576,
    page--active: #DB7A4E,
    page__background--col: #FEFAF5,
    footer__background--col: #FEFAF5,
    footer__tile--col: #335576,
    footer__text--col: #DB7A4E,
    hero__background--col: #FEFAF5,
    slogan__text--col: #335576,
    button1--col: #DB7A4E,
    reccomendations__title--col: #335576,
    activities__background--col: #FEFAF5
);

/* Navigation */ 

.menu_wrapper { 
    background-color: map-get($colors, navigation__background--col);
    display:flex;
    flex-direction: row;
    margin-right: 0%;
}

.navigation__link__container {
    flex-direction: row;
    padding-right: 2%;
}

.logo__container {
    margin-right: 55%;
    margin-left: 5%;
    color: map-get($colors, logo__text--col);
}

nav a {
    color: black;
}

a.hover {
    background-color: red;
}

nav a.active {
    text-decoration-thickness: .3rem; /* 3.2px */
    text-underline-offset: 1rem;
    border-color: #DB7A4E;
    text-decoration-color: map-get($colors, page--active);
}

/* Navigation */

/* Body */
body {
    font-family: 'Verdana';
}

h1 {
    font-size: 2.625rem; /* 42px */
}

/*body */

/*footer */

.footer {
    display: flex;
    margin-right: 15%;
    margin-left: 15%;
}

.footer__contact, .footer__hours, .footer__social {
    display: inline-block;
}

footer p {
    color: map-get($colors, footer__text--col);
}

footer h4 {
    color: map-get($colors,footer__tile--col);
    font-weight: 6.25rem; /* 100px */
}

footer h2 {
    color: map-get($colors, logo__text--col);
}

.footer__titles {
    display: inline-block;
    width: 60rem; /* 960px */
    height: 3rem; /*80px*/
}

.footer__title--contact, .footer__title--hours, .footer__title--social {
    display: inline-block;
    margin-right: 2%;
}

.footer__title--contact {
    width:14rem; /*224px*/
}

.email {
    width: 15rem;
}
.email p, .hours__times p, .hours__times2 p, .closed p {
    color: map-get($colors, footer__tile--col);
}

.footer__title--hours {
    width:28rem; /*448px*/
}

.hours__times {
    width: 11rem;
    display: inline-block;
}

.hours__times2 {
    width: 11rem;
    display: inline-block;
}

.closed {
    width: 10.25rem;
    display: inline-block;
}

.hours__times p {
    padding: 0%;
}

.footer__title--social {
    display: inline-block;
}

.social__image--section {
    display: inline-block;
    width: 10rem;
    margin-top: 2%;
    align-items:flex-end;
}

.social__image--container {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 3%;
    overflow: hidden;
    justify-content: center;
}

.social__image--container img {
    /*width: 100%;*/
    height: 100%;
    object-fit: cover;
}

.footer__text--email {
    display: inline-block;
    width: 15rem;
}

.footer__text--email p, .footer__text--days p, .footer__text--sunday p {
    font-size: .75rem;
}

.footer__text--days {
    display: inline-block;
    width: 11rem;
}

.footer__text--sunday {
    display: inline-block;
    width: 6.2rem;
}

.info__section {
    display: inline-block;
}