$colors: (
    navigation__background--col: #ffffff,
    logo__text--col: #335576,
    page--active: #DB7A4E,
    page__background--col: #FEFAF5,
    footer__background--col: #FEFAF5,
    footer__tile--col: #335576,
    footer__text--col: #DB7A4E,
    hero__background--col: #FEFAF5,
    slogan__text--col: #335576,
    button1--col: #DB7A4E,
    reccomendations__title--col: #335576,
    activities__background--col: #FEFAF5,
)

*[
    font-family 'Verdana';
]